/* Import fonts from Google */
/* TODO!!! Remove unused fonts!!! */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800|Oswald:400,700,300);

/* Main content holders */
body {
    padding-bottom: 100px;
}

#admin-content-wrapper {
    max-width: 1200px;
    padding: 50px 10% 0 10%;
    margin: 0px auto;
}

#main-content {
  width: 100%;
  height: 100%;
  margin-top: 25px;
}


/* Menubar BIG */
#menubar-big {height: 55px;}

.admin-menu-button {
    display: block;
    float: left;
    height: 40px; line-height: 40px;
    padding: 5px 30px 5px 30px;
    margin-right: 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
}

#menubar-big li #back {float: right;}

#menubar-big li a:hover {border-bottom: 5px solid #03A9F4; color: #03A9F4;}

.admin-active {border-bottom: 5px solid #03A9F4;}


/* Menubar SMALL */
#menubar-small {height: 40px;}
#menubar-small li {display: inline;} /* Leaves a gap, so float on a element is necessary */

#menubar-small li a {
    float: left;
    height: 40px;
    line-height: 40px;

    padding: 0 20px 0 20px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FFF;
}






/* Table content */
#table-content {
    margin-top: 35px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

    background-color: #FFF;
}

#table-content table {
    width: 100%;
    text-align: center;
}

#table-content table, th, td {border: 1px solid black;}

#table-content table th {
    height: 35px; line-height: 35px;
    font-weight: 600;
    background-color: #E0E0E0;
}

#table-content table td {
    height: 25px; line-height: 25px;
    font-size: 13px;
    background-color: #FAFAFA;
}



/* Add question */
#question-content-wrapper {
    width: 500px;
    margin: 0px auto;
    padding: 20px;

    background-color: #FFF;
}

.question-row {
    width: 500px;
    margin: 0px auto;
}

.question-row span {
    display: inline-block;
    width: 140px;
    height: 40px;
    padding-right: 30px;
    text-align: right;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.question-row p {color: #212121;}

.question-row select {width: 310px; height: 25px;}

.question-row .text-input {
    width: 300px;
    padding: 5px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#question-button-wrapper {
    width: 540px;
    height: 60px;
    margin: 0px auto;
}

#question-button-wrapper li a, #question-button-wrapper li input {
    display: block;
    height: 40px;

    text-align: center;
    line-height: 40px;

    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;

    border: none;
}

#question-button-wrapper li input:hover, #question-button-wrapper a:hover {cursor:pointer;}

#save-button {
    float: left;
    width: 270px;
}

#delete-button {
    float: left;
    width: 100px;
}

#cancel-button {
    overflow: hidden;
}
