/* Import fonts from Google */
/* TODO!!! Remove unused fonts!!! */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800|Oswald:400,700,300);

/* Main content holders */
body {
    background: #37474F url('../img/muster.jpg') center;
    background-attachment: fixed; /* This was necessary to avoid messing up the background when using jQuery.html() */
}

.content {
    width: 100%;
    margin-top: 100px !important;
}

/* Text type definitions */
h1 {
    font-family: 'Oswald', sans-serif;
    color: #FFF;
    margin: 10px 0 10px 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FFF;
    margin: 5px 0 5px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FFF;
    margin: 5px 0 5px 0;
}

a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #FFF;
}

/* Header */
#header {
    height: 60px;
    position: relative;

    max-width: 1200px;
    margin: 0px auto;
    margin-top: 30px;
}

#header a {
    position: absolute;
    display: block;
    height: 50px; line-height: 50px;
    width: 190px;
    font-size: 18px;
    background-color: #455A64;
    border: 1px solid #263238;
    border-radius: 3px;
}

#header a:hover {
    background-color: #546E7A;
    border: 1px solid #263238;
}

#header #about-button {left: 10%;}
#header #statistics-button {right: 10%;}
#header #back-button {left: 10%;}

/* Intro page */
#intro-content {text-align: center;}
#intro-content #itcq-title {font-size: 64px;}
#intro-content #itcq-subtitle {font-size: 12px;}

#intro-content #itcq-start {
    color: #FFF;
    font-size: 18px;
    display: block;
    border: 2px solid #388E3C;
    width: 190px;
    height: 70px;
    line-height: 70px;
    background-color: #43A047;
    border-radius: 3px;
    margin: 0px auto;
    margin-top: 20px;
}

#intro-content #itcq-start:hover {background-color: #4CAF50;}

/* Useful classes */
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}