/* Import fonts from Google */
/* TODO!!! Remove unused fonts!!! */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:400,700,300);

/* Main content holders */
body {
    background: #161c24 url('../img/muster.jpg');
    -webkit-font-smoothing: antialiased;
}

#content-wrapper {
    height: 400px;
    max-width: 1200px;
    min-width: 1000px;
    padding: 0 10% 0 10%;
}

#menu {
    width: 25%;
    height: 100%;
    float: left;
}

#dynamic-content {
    width: 65%;
    height: 100%;
    float: right;

    /* Ugly fix to vertically center anchor text */
    display: table;
}






/* Text type definitions */
h1, h2, h3, a, p, li {color: #FFF;}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

a, p, li, td {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

a {color: #03A9F4;}
a:hover {color: #29B6F6;}






/* Left-hand menu */
#menu #title {
    font-family: 'Oswald', sans-serif;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 4px;

    margin: 40px 0 40px 0;
    text-align: center;
}

.menu-button {
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    margin: 15px 0 15px 21px; /* Left 21px is to stop the menu from moving left-right due to the border */
    padding: 13px 0 13px 15px;
}

.menu-button span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(155,155,175,0.8);
}

.active {
    margin-left: 15px; /* This is to stop the menu from moving left-right due to the border */
    border-left: 6px solid #03A9F4;
}

.menu-button:hover {
    margin-left: 15px; /* This is to stop the menu from moving left-right due to the border */
    border-left: 6px solid #03A9F4;
}





/* Main page quiz start */
#itcq-start {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;

    /* Ugly fix to vertically center anchor text */
    display: table-cell;
    vertical-align: middle;

    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: #FFF;
    background-color: #0288D1;
}

#itcq-start:hover {background-color: #039BE5;}






/* About page */
#about-content {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#about-content li {
    list-style: square;
    margin-left: 20px;
    line-height: 20px;
    font-size: 14px;
}

#about-content p {
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0 5px 0;
}





/* Stats content */
#stats-content table, #stats-content td {border: none; vertical-align: middle;}

#stats-content table td {
    padding: 5px;
    width: 200px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFF;
}




/* Login form */
#login-form-wrapper {height: 100%; width: 100%;}

#login-form-wrapper form {
    width: 250px;
    margin: 0px auto;
    margin-top: 100px;
}

#login-form-wrapper input {
    display: block;
    width: 220px;
    padding: 15px 15px 15px 15px;
    border: none;
}

#login-form-wrapper #submit-button {
    height: 40px;
    width: 250px;
    padding: 0;

    text-align: center;
    line-height: 40px;

    border: none;
}





/* Useful classes */
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.text-shadow {
    text-shadow: 0 1px 1px #000000;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.button-yes {
    background-color: #388E3C; font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.button-yes:hover {background-color: #2E7D32;}
.button-no {background-color: #E53935;}
.button-no:hover {background-color: #D32F2F;}
