#quiz-content {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -60px;
    background: #212121;
}

#quiz-question {
    height: 100px;
    max-width: 780px;
    line-height: 50px;
    font-size: 24px;
    margin: 0 !important;
}

#quiz-question span {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

#quiz-answers {
    position: relative;
    height: 200px;
    margin: 0px auto;
}

#quiz-content .answer {
    position: absolute;
    height: 94px;
    line-height: 94px;
    width: 49%;
    background-color: #0288D1;

    color: #FFF;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

#quiz-content .answer:hover {
    cursor: pointer;
    background-color: #039BE5;
}

#quiz-answer-1 {top: 0; left: 0;}
#quiz-answer-2 {top: 0; right: 0;}
#quiz-answer-3 {bottom: 0; left: 0;}
#quiz-answer-4 {bottom: 0; right: 0;}

.disabled {
    cursor: default !important;
    background-color: #757575 !important;
}

.correct {background-color: #388E3C !important;}
.wrong {background-color: #E53935 !important;}

#next-arrow {
    cursor: pointer;
    height: 64px;
    width: 190px;
    text-align: center;
    background-color: #0288D1;

    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    line-height: 64px;
    color: #FFF;
}

#next-arrow span {
    display: block;
    float: right;
    width: 64px;
    height: 64px;
    background: url('../img/next.png') no-repeat;
}

#next-arrow:hover {
    background-color: #039BE5;
}

#quiz-image {
    height: 180px;
    background: url('../img/quiz_default.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;

    position: relative;
}

#quiz-image h3 {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 16px;
}

#progress-indicator {
    position: absolute;

    display: block;
    height: 3px;
    content: '';

    bottom: 0;

    background: #4CAF50;
}
