#quiz-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

#quiz-content #quiz-question {
    height: 140px;
    line-height: 47px;
    font-size: 30px;
}

#quiz-content #quiz-answers {
    position: relative;
    height: 260px;
    margin: 0px auto;
}

#quiz-content .answer {
    position: absolute;
    display: block;
    height: 130px;
    line-height: 130px;
    width: 50%;
    background-color: #43A047;

    color: #FFF;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

#quiz-content .answer:hover {
    cursor: pointer;
    background-color: #4CAF50;
}

#quiz-content #quiz-answer-1 {top: 0; left: 0;}
#quiz-content #quiz-answer-2 {top: 0; right: 0;}
#quiz-content #quiz-answer-3 {bottom: 0; left: 0;}
#quiz-content #quiz-answer-4 {bottom: 0; right: 0;}