<div id="question-content-wrapper" data-ng-init="fillData('cat')">
    <form name="question-form" id="question-form" data-ng-submit="submitForm(q)">
        <div class="question-row">
            <span>Category</span>

            <select data-ng-model="q.category" data-ng-options="category.name as category.name for category in categoriesList" required>
                <option></option>
            </select>
        </div>

        <div class="question-row">
            <span>Question</span><input class="text-input" type="text" data-ng-model="q.question" required />
        </div>

        <div class="question-row">
            <span>Correct answer</span><input class="text-input" type="text" data-ng-model="q.answer" required />
        </div>

        <div class="question-row">
            <span>Wrong answer 1</span><input class="text-input" type="text" data-ng-model="q.wrong1" required />
        </div>

        <div class="question-row">
            <span>Wrong answer 2</span><input class="text-input" type="text" data-ng-model="q.wrong2" required />
        </div>

        <div class="question-row">
            <span>Wrong answer 3</span><input class="text-input" type="text" data-ng-model="q.wrong3" required />
        </div>

        <div class="question-row">
            <span>Enabled</span><input type="checkbox" data-ng-model="q.enabled" data-ng-change="q.enabled" data-ng-false-value="'0'" data-ng-true-value="'1'" />
        </div>

    </form>
</div>

<div id="question-button-wrapper">
    <ul>
        <li><input type="submit" class="button-yes text-shadow" form="question-form" value="Save" id="save-button"/></li>
        <li><a href="#/questions" class="button-no text-shadow" id="delete-button" data-ng-show="editMode" data-ng-click="deleteQuestion()">Delete</a></li>
        <li><a href="#/questions" class="button-no text-shadow" id="cancel-button">Cancel</a></li>
    </ul>
</div>
