<div id="question-content-wrapper" data-ng-init="getData('cat')">
    <form name="question-form" id="question-form" data-ng-controller="questionFormCtrl" data-ng-submit="addNewQuestion()">
        <div class="question-row">
            <span>Category</span>

            <select data-ng-model="q.category" ng-options="category.name for category in categoriesList track by category.name" required >
                <option></option>
            </select>
        </div>

        <div class="question-row">
            <span>Question</span><input class="text-input" type="text" data-ng-model="q.question" required />
        </div>

        <div class="question-row">
            <span>Correct answer</span><input class="text-input" type="text" data-ng-model="q.answer" required />
        </div>

        <div class="question-row">
            <span>Wrong answers</span><input class="text-input" type="text" data-ng-model="q.wrong" required />
        </div>

        <div class="question-row">
            <span>Enabled</span><input type="checkbox" data-ng-model="q.enabled" />
        </div>

    </form>
</div>

<div id="question-button-wrapper">
    <ul>
        <li><input type="submit" class="button-yes text-shadow" form="question-form" /></li>
        <li><a href="#/questions" class="button-no text-shadow">Cancel</a></li>
    </ul>
</div>
