<div id="table-content" data-ng-init="fillData('ql')">
    <table>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Enabled</th>
        </tr>
        <tr data-ng-repeat="question in questionList" data-ng-click="openQuestionEditView(question.id)">
            <td>{{question.id}}</td>
            <td>{{question.category}}</td>
            <td>{{question.question}}</td>
            <td>{{question.answer}}</td>
            <td>{{question.enabled}}</td>
        </tr>
    </table>
</div>

<ul id="menubar-small">
    <li><a href="#/addquestion" class="button-yes text-shadow">Add question</a></li>
    <li><a href="#/addcategory" class="button-yes text-shadow">Create category</a></li>
</ul>
